<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>567083599771-p2qj0i48n99jn8vgqs00utms68jv7hug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.567083599771-p2qj0i48n99jn8vgqs00utms68jv7hug</string>
	<key>API_KEY</key>
	<string>AIzaSyA3OBkUwMb7kBWJr6qh8XEPhdENcgC0N7Q</string>
	<key>GCM_SENDER_ID</key>
	<string>567083599771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-50f9f</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-50f9f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567083599771:ios:d59ce820fcdbaf95d9433e</string>
</dict>
</plist>